global:
  managementCluster: giantmc
  release:
    version: v27.0.0-alpha.1
  metadata:
    name: kamaji-test
    organization: giantswarm
  connectivity:
    baseDomain: example.gigantic.io
  controlPlane:
    replicas: 3
  nodePools:
    def00:
      minSize: 3
      maxSize: 20
providerIntegration:
  environmentVariables:
    hostName: COREOS_EC2_HOSTNAME
    ipv4: COREOS_EC2_IPV4_LOCAL
  provider: aws
  resourcesApi:
    bastionResourceEnabled: false
    clusterResourceEnabled: true
    controlPlaneResource:
      enabled: true
      provider: kamaji
    infrastructureCluster:
      group: infrastructure.cluster.x-k8s.io
      kind: GiantCluster
      version: v1beta1
    machineHealthCheckResourceEnabled: true
    machinePoolResourcesEnabled: true
    nodePoolKind: MachinePool
    infrastructureMachinePool:
      group: infrastructure.cluster.x-k8s.io
      version: v1beta1
      kind: GiantMachinePool
    helmRepositoryResourcesEnabled: true
  controlPlane:
    resources:
      controlPlane:
        api:
          group: controlplane.cluster.x-k8s.io
          kind: KamajiControlPlane
          version: v1alpha1
      infrastructureMachineTemplate:
        group: infrastructure.cluster.x-k8s.io
        kind: GiantMachineTemplate
        version: v1beta1
      infrastructureMachineTemplateSpecTemplateName: cluster.internal.test.controlPlane.machineTemplate.spec
    kamaji:
      enabled: true
      apiServer:
        extraArgs:
        - "--enable-admission-plugins=PodSecurity"
        - "--audit-log-path=/var/log/kubernetes/audit.log"
      controllerManager:
        extraArgs:
        - "--bind-address=0.0.0.0"
      scheduler:
        extraArgs:
        - "--bind-address=0.0.0.0"
      addons:
        coreDNS:
          imageRepository: registry.k8s.io/coredns/coredns
          imageTag: "v1.11.1"
        kubeProxy:
          disabled: false
        konnectivity:
          agentImage: registry.k8s.io/kas-network-proxy/proxy-agent
          agentTag: "v0.1.2"
          serverImage: registry.k8s.io/kas-network-proxy/proxy-server
          serverTag: "v0.1.2"
      deployment:
        additionalMetadata:
          labels:
            app: kamaji-control-plane
          annotations:
            example.io/annotation: "value"
        podAdditionalMetadata:
          labels:
            pod-label: "true"
          annotations:
            pod-annotation: "value"
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: app
                    operator: In
                    values:
                    - kamaji-control-plane
                topologyKey: kubernetes.io/hostname
        nodeSelector:
          node-role.kubernetes.io/control-plane: ""
        tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
        topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: kamaji-control-plane
      kubelet:
        cgroupfs: systemd
        preferredAddressTypes:
        - InternalIP
        - ExternalIP
      network:
        serviceType: LoadBalancer
        serviceAddress: "10.96.0.1"
        serviceAnnotations:
          service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
        serviceLabels:
          service-label: "true"
        certSANs:
        - "kamaji-test.example.gigantic.io"
        - "10.96.0.1"
  workers:
    defaultNodePools:
      def00:
        customNodeLabels:
        - label=default
        maxSize: 3
        minSize: 3
