appName: cilium
configKey: cilium
namespace: kube-system
# used by renovate
# repo: giantswarm/cilium-app
version: 1.3.3
timeout: 1h
remediationRetries: 0
defaultValues:
  # For all available values see https://github.com/giantswarm/cilium-app/blob/main/helm/cilium/values.yaml
  ipam:
    mode: kubernetes
  k8sServiceHost: auto
  kubeProxyReplacement: 'true'
  hubble:
    relay:
      enabled: true
      tolerations: [] # set in cluster-<provider> apps
    ui: {} # set by cluster-<provider> apps
  defaultPolicies: {} # set in cluster-<provider> apps
  extraPolicies: {} # set in cluster-<provider> apps
  global:
    podSecurityStandards:
      enforced: {{ .Values.global.podSecurityStandards.enforced }}
