# Includes prometheus-operator-crd
appName: observability-bundle
configKey: observabilityBundle
clusterValues:
  configMap: true
  secret: false
inCluster: true
dependsOnHelmRelease: true
dependsOn: coredns
namespace: kube-system
# used by renovate
# repo: giantswarm/observability-bundle
version: 2.4.1
