apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-pre-delete-etcd-wait"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "etcd.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-delete
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": hook-succeeded,before-hook-creation
spec:
  ttlSecondsAfterFinished: 86400 # 24h
  template:
    metadata:
      name: "{{ .Release.Name }}-pre-delete-etcd-wait"
      namespace: {{ .Release.Namespace }}
      labels:
        {{- include "etcd.labels" . | nindent 8 }}
    spec:
      restartPolicy: Never
      securityContext:
        runAsUser: {{ .Values.securityContext.runAsUser }}
        runAsGroup: {{ .Values.securityContext.runAsGroup }}
        runAsNonRoot: true
        fsGroup: {{ .Values.securityContext.runAsGroup }}
        serviceAccountName: "automation"
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: pause
          image: {{ .Values.jobs.kubectl.image }}:{{ .Values.jobs.kubectl.tag }}
          command:
            - /bin/sh
            - -c
            - |
              echo "Waiting for TenantControlPlanes to be deleted..."
              # Loop until no resources are found in the namespace
              until [ $(kubectl get tenantcontrolplane -n org-giantswarm --no-headers 2>/dev/null | wc -l) -eq 0 ]; do
                echo "Parent resources still exist. Sleeping..."
                sleep 5
              done
              echo "Cleanup complete. Proceeding with etcd deletion."
            resources:
              {{- toYaml .Values.jobs.resources | nindent 12 }}
            securityContext:
              {{- toYaml .Values.securityContext | nindent 12 }}
              readOnlyRootFilesystem: true
