apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
shutdownGracePeriod: 300s
shutdownGracePeriodCriticalPods: 60s
kernelMemcgNotification: true
evictionSoft:
  memory.available: "500Mi"
evictionHard:
  memory.available: "200Mi"
  imagefs.available: "15%"
evictionSoftGracePeriod:
  memory.available: "5s"
evictionMaxPodGracePeriod: 60
{{- $kubernetesVersion := include "cluster.component.kubernetes.version" $ }}
{{- $providerFeatureGates := $.Values.providerIntegration.kubeadmConfig.featureGates }}
{{- $internalFeatureGates := $.Values.internal.advancedConfiguration.kubelet.featureGates }}
{{- $renderWithoutRelease := ((($.GiantSwarm.internal).ephemeralConfiguration).offlineTesting).renderWithoutReleaseResource | default false }}
{{- if (include "cluster.internal.kubeadm.featureGates" (dict "providerFeatureGates" $providerFeatureGates "internalFeatureGates" $internalFeatureGates "kubernetesVersion" $kubernetesVersion "renderWithoutReleaseResource" $renderWithoutRelease) | fromYaml) }}
featureGates: {{- include "cluster.internal.kubeadm.featureGates" (dict "providerFeatureGates" $providerFeatureGates "internalFeatureGates" $internalFeatureGates "kubernetesVersion" $kubernetesVersion "renderWithoutReleaseResource" $renderWithoutRelease) | nindent 2 }}
{{- end }}
{{- with ((include "cluster.internal.advancedConfiguration.kubelet.kubeReserved" $.Values) | fromYaml) }}
kubeReserved:
  cpu: {{ .cpu }}
  memory: {{ .memory }}
  ephemeral-storage: {{ .ephemeralStorage }}
{{- end }}
{{- with ((include "cluster.internal.advancedConfiguration.kubelet.systemReserved" $.Values) | fromYaml) }}
systemReserved:
  cpu: {{ .cpu }}
  memory: {{ .memory }}
{{- end }}
kubeReservedCgroup: /kubereserved.slice
protectKernelDefaults: true
systemReservedCgroup: /system.slice
tlsCipherSuites: {{ include "cluster.internal.kubeadm.tlsCipherSuites" $ | nindent 2 }}
serializeImagePulls: false
streamingConnectionIdleTimeout: 1h
allowedUnsafeSysctls:
- "net.*"
{{- if $.Values.internal.advancedConfiguration.kubelet.containerLogMaxSize }}
containerLogMaxSize: {{ $.Values.internal.advancedConfiguration.kubelet.containerLogMaxSize }}
{{- end }}
{{- if $.Values.internal.advancedConfiguration.kubelet.containerLogMaxFiles }}
containerLogMaxFiles: {{ $.Values.internal.advancedConfiguration.kubelet.containerLogMaxFiles }}
{{- end }}
{{- if $.Values.internal.advancedConfiguration.kubelet.insecure }}
authentication:
  anonymous:
    enabled: true
  webhook:
    enabled: false
authorization:
  mode: AlwaysAllow
{{- end }}
